In [1]:
from ipywidgets import interact
import pandas as pd

pd.options.plotting.backend = 'plotly'

In [2]:
df = pd.read_csv(r'employee_dataset.csv')
df.head(2)

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4

In [3]:
@interact
def filter_company(company = list(df.Company_Name.unique())):

    return df[df.Company_Name == company].head()

interactive(children=(Dropdown(description='company', options=('White, Mcclain and Cobb', 'Scott Inc', 'Andrad…

In [4]:
@interact
def filter_rating(rating = (0, 5, 0.5)):

    return df[df.Employee_Rating>rating].head()

interactive(children=(FloatSlider(value=2.0, description='rating', max=5.0, step=0.5), Output()), _dom_classes…

In [5]:
@interact
def plot_city(city = list(df.Employee_City.unique())):

    filtered_df = df[df.Employee_City == city]
    
    ## create the plot on filtered data
    fig = filtered_df.plot(kind = "scatter", 
                           x = "Employee_Salary", 
                           y = "Employee_Rating", 
                           color = "Employment_Status",
                           size = "Credits")
    fig.show()

interactive(children=(Dropdown(description='city', options=('New Cindychester', 'Ricardomouth', 'North Melissa…

In [17]:
## PyGWalker

In [18]:
from IPython.display import Video
Video("tableau in jupyter.mp4", width = 700)